
//
// VARIABLES
//

// Colors
$blue: #5090DD;

// Grays
$black: #ffffff;
$darkerGray: #222;
$darkGray: #E2E2E2;
$gray: #666;
$lightGray: #696969;
$white: #141518;

// Font stacks
$helvetica: sans-serif;
$helveticaNeue: sans-serif;
$georgia: serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}